body {
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}

a { 
    color: #34A8EA;
 }
 a:hover {
    text-decoration: none;
 }
 .btn, .btn:focus {
     outline: none;
 }
[hidden], .hide { 
    display: none;
}
[v-cloak] {
  display: none;
}

body.modal-open {
    margin-right: 0;
}

.banner-tabs {
    margin-bottom: 20px;
}
.nav-tabs > li {
    margin-right: 4px;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus {
    color: #666;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover {
    color: #34A8EA;
}

.contentA, .contentB, .contentC {
    border: 1px solid #ddd;
}
.contentA {
    padding: 10px 10px 0;
    margin-bottom: 20px;
}
.contentB {
    min-height: 298px;
}

.content-body {
    padding: 10px 15px 10px 7px;
}

.sp-item {
    position: relative;
}
.sp-item + .sp-item {
    margin-top: 10px;
}
.sp-item .name {
    color: #454545;
    float: left;
    width: 35px;
}
.sp-item .item-options {
    float: left;
    margin: 0;
    width: calc(100% - 36px);
    padding-right: 50px;
}
.sp-item .item-options li {
    list-style: none;
    float: left;
    padding: 0 10px 10px;
}
.sp-item .item-options li > a, .sp-item .item-options li.edit > span {
    text-decoration: none;
    color: #666;
    border-radius: 2px;
    display: inline-block;
    line-height: 1;
}
.sp-item .item-options li.active > a {
     padding: 4px 12px;
    background-color: #34A8EA;
    color: #fff;
}
.sp-item .item-options li.edit > span {
    padding: 3px 12px;
    border: 1px solid #999;
    position: relative;
    display: inline-block;
}
.sp-item .item-options li.edit > span a {
    position: absolute;
    top: -8px;
    right: -6px;
}
.sp-item .item-options li > select {
    color: #666;
    height: 22px;
    padding: 0px 7px;
    border-radius: 2px;
    border: 1px solid #999;
}
.sp-item .item-options li .add-option {
    font-size: 12px;
    color: #34A8EA;
    border: 1px solid #34A8EA;
    padding: 2px 7px;
    border-radius: 2px;
}
.sp-item .action-buttons {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -20px;
    width: 50px;
    text-align: center;
}

.content-header {
    padding: 7px 15px 7px 12px;
    border-bottom: 1px solid #ddd;
    height: 38px;
}
.content-header .pull-right a {
    margin-left: 15px;
}
.content-header .pull-right a i {
    font-size: 16px;
    font-weight: bold;
}
.content-header .pull-right a.btn {
    border: 0;
    font-size: 12px;
    padding: 2px 11px;
    border-radius: 2px;
}

.detail-tree {
    margin: 0;
}
.detail-tree li {
    list-style: none;
    position: relative;
    user-select: none;
}
.detail-tree > li + li, .detail-tree .children li {
    margin-top: 12px;
}
.detail-tree .item .folder-icon {
    border: 1px solid #323232;
    display: inline-block;
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 10px;
    margin-right: 5px;
}
.detail-tree .item .pull-right a {
    font-size: 12px;
    color: #999;
    display: inline-block;
    border: 1px solid #999;
    width: 17px;
    height: 17px;
    line-height: 15px;
    text-align: center;
}
.detail-tree .children li {
    margin-left: 25px;
}
.detail-tree li:before {
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    content: ' ';
    background: 0 0;
    border: none;
    border-left: 1px dashed #666;
}
.detail-tree li:after {
    position: absolute;
    z-index: 1;
    display: block;
    content: ' ';
    border-top: 1px dashed #666;
}
.detail-tree > li:before {
    top: 18px;
    left: 5px;
    bottom: -17px;
}
.detail-tree > li:last-child:before {
    display: none;
}
.detail-tree > li:after {
    top: 11px;
    left: 14px;
    width: 7px;
}
.detail-tree .children li:before {
    top: -10px;
    left: -16px;
    bottom: -2px;
}
.detail-tree .children li:last-child:before {
    height: 20px;
}
.detail-tree .children li:after {
    top: 10px;
    left: -16px;
    width: 12px;
}

.contentC .content-body {
    padding: 30px 20px 20px;
    margin-bottom: -20px;
}
.contentC .form-item {
    margin-bottom: 20px;
}
.contentC .form-item label {
    width: 40%;
    text-align: right;
    margin-right: 6px;
}
.contentC .form-item input, .contentC .form-item select {
    width: 150px;
}
.contentC .form-item:last-child {
    padding-top: 10px;
    text-align: center;
}
.contentC .form-item .btn {
    padding: 4px 12px;
}
.contentC .form-item .btn + .btn {
    margin-left: 30px;
}