
.width-150 { width: 150px; }

.margin-top-8 { margin-top: 8px; }

.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }

.head-tab a.active {
    color: #428bca;
}
.checkbox-inline label {
    margin-top: -5px;
    margin-right: 25px;
}


.head-tab {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.head-tab a {
    color: #333;
    padding: 10px 12px;
    text-decoration: none;
    display: inline-block;
}
.head-tab a.active {
    border-bottom: 2px solid #428bca;
}

.task-menu {
    margin-right: -35px;
    margin-bottom: 15px;
}
.task-menu > div {
    margin-right: 35px;
}
.setting-tabs .nav-tabs {
    display: inline-block;
}
.setting-tabs .nav-tabs > li + li {
    margin-left: 5px;
}

.course-num-select {
    margin-bottom: 20px;
}
.course-num-select select {
    width: 200px;
}
.course-num-select .course-list {
    display: inline;
    margin-left: 20px;
}
.course-num-select .course-list span {
    padding: 0 20px;
}