
.width-101 { width: 100px; }
.width-110 { width: 110px; }
.width-130 { width: 130px; }
.width-150 { width: 150px; }
.width-250 { width: 250px; }
.width-500 { width: 500px; }

.margin-top-0 { margin-top: 0; }
.margin-top-8 { margin-top: 8px; }

.margin-bottom-0 { margin-bottom: 0; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-50 { margin-bottom: 50px; }

.margin-right-5 { margin-right: 5px!important; }
.margin-right-10 { margin-right: 10px; }
.margin-right-20 { margin-right: 20px; }
.margin-right-30 { margin-right: 30px; }

.padding-10 { padding: 10px; }

.font-18 { font-size: 18px; }
.font-12 { font-size: 12px; }

.color-333 { color: #333; }
.orange1 { color: #DD5A43; }
.color-999 { color: #999; }

.inline-block { display: inline-block!important;}

.relative-box { position: relative; }

.absolute-right {
    position: absolute;
    right: 0;
    bottom: 8px;
}

body {
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
input {
    height: 30px;
}
.pane table {
    margin-bottom: 0;
}
.pane > p:first-child, .pane > div > p:first-child {
    margin-bottom: 10px;
    position: relative;
    padding-left: 12px;
}
i[class^="icon-"] {
    text-decoration: none;
}
.btn-sm>[class*="icon-"] {
    margin-right: 9px;
}
.btn-sm {
    padding: 4px 12px;
}
.btn-sm.btn-line {
    padding: 2px 11px;
}
.btn-xs.btn-line {
    padding: 3px 14px;
}
.btn-group>.btn-sm {
    border-width: 4px;
}
.btn-group>.dropdown-menu {
    min-width: 100%;
}

th, td {
    text-align: center;
    height: 35px;
}
.table td a + a {
    margin-left: 5px;
}
.table thead tr {
    background-image: none;
}
.table > thead > tr > th {
    border-bottom-width: 1px; 
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td,.table tfoot>tr>td {
    vertical-align: middle;
 }
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
     background-clip: border-box;
     background-color: #d9edf7;
 }

body.modal-open {
    margin-right: 0;
}
.modal {
    overflow: hidden;
    outline: none;
}
.modal-footer.text-center {
    text-align: center;
}
.modal-header {
    padding: 8px 15px;
    background: linear-gradient(to bottom, #ECECEC, #F7F7F7);
}
.modal-footer {
    padding-top: 10px;
    padding-bottom: 9px;
}

.cw-250 + .chosen-container {
    min-width: 250px;
}
.cw-170 + .chosen-container {
    min-width: 170px;
}


.head-tab a.active {
    color: #34A8EA;
}
.checkbox-inline label {
    margin-top: -5px;
    margin-right: 25px;
}

.head-tab {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    position: relative;
}
.head-tab a {
    font-size: 16px;
    color: #333;
    padding: 10px 12px;
    display: inline-block;
    text-decoration: none;
}
.head-tab a.active {
    border-bottom: 2px solid #34A8EA;
}
.head-tab h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.task-menu {
    margin-right: -35px;
    margin-bottom: 40px;
}
.task-menu > div {
    margin-right: 35px;
}
.setting-tabs .nav-tabs {
    margin-bottom: 20px;
}
.setting-tabs .nav-tabs > li + li {
    margin-left: 5px;
}
.setting-tabs .tab-content {
    padding: 0;
    border: none;
}

.course-num-select {
    margin-bottom: 20px;
}
.course-num-select select {
    width: 200px;
}
.course-num-select .course-list {
    display: inline;
    margin-left: 20px;
}
.course-num-select .course-list span {
    padding: 0 20px;
}

.classHourTb select {
    min-width: 100px;
}

.td-edit {
    position: relative;
    padding-right: 40px !important;
    background-clip: content-box;
}
div.td-edit {
    display: inline-block;
    padding-right: 60px !important;
    margin: 10px 0;
}
.td-edit .edit {
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
}
.td-edit .edit a:hover {
    text-decoration: none;
}
td .delete {
    font-size: 16px;
}

table.cus-select {
    width: 100%;
    max-width: 100%;
    /* border-collapse: separate;
    border-spacing: 1px; */
}
table.cus-select th {
    /* background-color: #333; */
    /* color: #fff; */
    background-color: #f0f0f0;
    color: #222222;
}
.cus-select th , .cus-select td {
    border: 1px solid #dddddd;
}
table.cus-select tbody td {
    width: 126px;
}
.no-reason table.cus-select tbody td {
    width: 98px;
}
table.cus-select td.selected {
    background-color: #ffa2a2;
}
.cell-blue table.cus-select td.selected {
    background-color: #6fb3e0;
}
table.cus-select td.disabled {
    background-color: #ccc !important;
    cursor: not-allowed;
}

table.cus-select td.selected i {
    cursor: pointer;
    color: #666;
    vertical-align: middle;
}
table.cus-select td.selected input {
    width: 82px;
    height: 28px;
    font-size: 12px;
    color: #999;
}
table.cus-select td .reason {
    font-size: 12px;
}
table.cus-select td .edit, table.cus-select td .reason {
    display: none;
}
table.cus-select td.selected .edit {
    display: inline-block;
    visibility: hidden;
    font-size: 16px;
}
table.cus-select td.selected:hover .edit {
    visibility: visible;
}
table.cus-select td.selected .reason {
    display: inline-block;
    margin-left: 16px;
}
.no-reason table.cus-select td .edit, .no-reason table.cus-select td .reason {
    display: none !important;
}

table.cus-select + .tip {
    margin-top: 10px;
    margin-bottom: 0;
}
.no-reason table.cus-select + .tip {
    display: none;
}

.cus-table-box {
    max-width: 100%;
    position: relative;
    border: 1px solid #B9B9B9;
}
.cus-table {
    min-width: 100%;
}
.cus-table td, .cus-table th {
    min-width: 80px;
    padding: 5px;
    white-space: nowrap;
    font-size: 14px;
    border: 1px solid #dddddd;
}
.cus-table td, .dragTable .ui-draggable-dragging {
    color: #454545;
    font-weight: bold;
} 
.cus-table td {
    background-color: #ffffff;
}
.cus-table th {
    background-color: #f0f0f0;
    color: #222222;
    font-weight: normal;
}

.table-school td, .table-school th {
    min-width: auto;
    padding: 4px;
}
.cus-table thead tr:first-child th, .cus-select thead th {
    background: linear-gradient(to bottom,#EEEEEE,#F7F7F7);
}
.class-table td .tip, td .hideMsg {
    color: #999;
    font-size: 12px;
    font-weight: normal;
}
td .hideMsg {
    display: none;
}
.show-msg td .hideMsg {
    display: block;
}

.alert.table-alert {
    display: inline-block;
    min-width: 319px;
}

.dragTable td {
    cursor: pointer;
    user-select: none;
    transition: background .2s;
    position: relative;
}
.dragTable .val {
    min-width: 30px;
}
.dragTable.show-msg .val {
    min-width: 50px;
    height: 42px;
}
.dragTable.class-table .val {
    min-width: auto;
}

.dragTable .origin {
    position: absolute;
    color: #bdbdbd;
    font-weight: normal;
    top: 0;
    left: 0;
    height: 100%;
    width: 1em;
    overflow: hidden;
}
.dragTable .origin .tip {
    width: 1em;
    overflow: hidden;
}
.dragTable .val:empty + .origin {
    padding: 8px;
    width: 100%;
}
.dragTable .val:empty + .origin .tip {
    width: 100%;
}
.dragTable .cell-dragging .origin {
    display: none;
}

.fix-table-box {
    position: relative;
    overflow-y: hidden;
}
.fix-table-box .table-box {
    float: left;
    min-width: 100%;
}
.fix-table-box.dragTable .table-box {
    padding-right: 79px;
}
.fix-table-box.class-table .table-box {
    padding-right: 119px;
}
.fix-table-box .fix-list {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 80px;
    z-index: 99;
}
.fix-table-box.class-table .fix-list {
    min-width: 120px;
}
.fix-table-box.table-school .fix-right thead tr th{
   height: 70px;
}
.fix-table-box .fix-right {
    right: 0;
}
.fix-table-box .fix-left {
    left: 0;
}

.fix-table-box.class-table {
    padding: 0;
}
.class-table td, .class-table th {
    padding: 8px;
}
.class-table td {
    height: 65px;
}
.class-table td .tip {
    display: none;
}
.class-table.show-msg td .tip, .class-table .show-msg td .tip  {
    display: block;
    animation: fadeIn .3s;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.dragTable td.cell-dragging div, .dragTable .val:empty + .origin {
    color: #bdbdbd !important;
    text-decoration: underline;
    font-style: italic;
    font-weight: normal;
}
td.ui-draggable-dragging {
    height: auto;
    z-index: 999;
}

.cus-table-box .table-alert {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 480px;
    min-height: 52px;
    margin-top: -26px;
    margin-left: -240px;
    display: none;
}

.modal-select .modal-dialog {
    width: 740px;
}
.modal-select.no-reason .modal-dialog {
    width: 600px;
}

.table-title {
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
    color: #222;
}
.cus-outter-box .table-title {
    margin-top: 0;
}

.tip-square {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.tip-square + .tip-square {
    margin-left: 30px;
}

/* 1 */
.show-school.show-msg .fix-left tbody th {
    height: 50px;
}
.table-school.show-msg .fix-left tbody th {
    height: 51px;
}

/* fix */
.fix-table-box.table-school, .fix-table-box.show-school {
    width: 100%;
    overflow: hidden;
    padding: 0;
}
.fix-table-box.table-school .fix-inner, .fix-table-box.show-school .fix-inner {
    padding-left: 79px;
    overflow-x: auto;
    max-width: 100%;
}


.nav-tabs>li>a, .nav-tabs>li>a:focus {
    color: #666;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #34A8EA;
}
.table thead tr {
    color: #222222;
}
#table-change-teacher thead th {
    background-color: #E7F2FF;
}
#table-change-teacher + .alert, #table-change-teacher + .alert + .alert {
    width: 643px;
}
.table-color-tip {
    position: relative;
}
.table-color-tip.inline-block {
    width: 375px;
    height: 22px;
    vertical-align: middle;
    margin-right: 80px;
}
.table-color-tip .tips {
    position: absolute;
    right: 0;
    top: 3px;
    line-height: 1;
    font-size: 12px;
}
.table-color-tip .tip-square.c1, .dragTable .cus-table td.cell-bug {
    background-color:#ffc7c7;
}
/* .dragTable .cus-table td.cell-bug[title] {
    background-color: #ffffff;
} */
.table-color-tip .tip-square.c2, .dragTable td.acceptable {
    background-color:#c7ffc7!important;
}
.table-color-tip .tip-square.c3, .dragTable td.cell-selected, .ui-draggable-dragging {
    background-color:#ffe97c!important;
}
i[class^="icon-"].orange1 {
    margin-right: 10px;
    font-size: 18px;
}
.course-table-name {
    margin-bottom: 30px;
}
.course-table-name > h4 {
    text-align: center;
    color: #222222;
    margin-bottom: 20px;
}
.course-table-name > p {
    color: #666666;
    text-align: center;
    font-size: 12px;
}
.course-table-name > p > span:not(:last-child) {
    margin-right: 30px;
}
.setting-tabs .pane > p:first-child:before, .setting-tabs .pane > div > p:first-child:before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    background: #34A8EA;
    left: 0;
}
.line-left {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}
.cus-table tr.tr-separate, .cus-select tr.tr-separate {
    height: 10px;
}
.cus-select tr.tr-separate th {
    height: 10px;
    background-color: #fff;
}
.modal-title {
    color: #669FC7;
    font-size: 16px;
}
.modal-header .close {
    font-size: 22px;
}