
.margin-5 {
    margin: 5px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.line-height-30 {
    line-height: 30px;
}

label {
    margin-top: -5px;
}
th, td {
    text-align: center;
    height: 38px;
}

.head-search .form-group:not(:last-child) {
    margin-right: 15px;
}

.imgView > img {
    width: 60px;
    height: 60px;
}