body {
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}

a { color: #34A8EA; }
[hidden], .hide { display: none; }
a:hover {
    text-decoration: none;
}

body.modal-open {
    margin-right: 0;
}
.modal {
    overflow: hidden;
    outline: none;
}
.modal-footer {
    padding-top: 10px;
    padding-bottom: 9px;
    margin-top: 0;
}
.modal-footer.text-center {
    text-align: center;
}
.modal-header {
    padding: 8px 15px;
    background: linear-gradient(to bottom, #ECECEC, #F7F7F7);
}
.modal-title {
    color: #669FC7;
    font-size: 16px;
}
.modal-header .close {
    font-size: 22px;
}
.modal .title-tip {
    color: #222222;
    font-size: 16px;
}
.modal .title-tip i {
    font-size: 18px;
    margin-right: 10px;
}
.modal .title-tip .danger {
    color: #DD5A43;
}

select, input, input.date-picker {
    height: 28px;
}
.chosen-selecter + .chosen-container .chosen-choices, .chosen-selecter + .chosen-container .chosen-single {
    min-height: 28px;
    line-height: 26px;
    border-color: #d5d5d5;
    border-radius: 0;
    box-shadow: none;
}
.chosen-selecter + .chosen-container .chosen-search input[type="text"] {
    background-image: none;
}
.chosen-selecter + .chosen-container .chosen-choices li.search-field input[type="text"],
.chosen-selecter + .chosen-container .chosen-single {
    color: #858585;
    background: #fff;
}
.chosen-selecter + .chosen-container .chosen-choices:hover {
    border-color: #b5b5b5;
}
.chosen-selecter + .chosen-container-active .chosen-choices, 
.chosen-selecter + .chosen-container-active .chosen-choices:hover {
    border-color: #f59942;
}
.input-group-addon {
    padding: 5px 8px;
}

.form-actions .btn + .btn {
    margin-left: 10px;
}

.margin-top-30 { margin-top: 30px; }


.head-form {
    margin-bottom: 30px
}
.head-form .form-group:not(:last-child) {
    margin-right: 30px;
}
.head-form .form-group select {
    width: 80px;
}

.class-name {
    font-size: 20px;
}

.banner-tabs {
    margin-bottom: 30px;
}
.banner-tabs .nav-tabs > li {
    margin-right: 4px;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus {
    color: #666;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover {
    color: #34A8EA;
}

.cus-table, .staff-table {
    width: 100%;
}
table.staff-table {
    table-layout: fixed;
}
.content-inline-block table.staff-table {
    table-layout: unset;
}
.cus-table th, .cus-table td, .staff-table th, .staff-table td {
    text-align: center;
    vertical-align: middle;
}
.cus-table th {
    background-color: #f0f0f0;
    padding: 8px;
    font-weight: normal;
}
.cus-table thead th {
    color: #222;
    border: 1px solid #b9b9b9;
    border-top: 0;
    border-bottom-width: 2px;
}
.cus-table thead th:first-child {
   border-left-color: transparent;
}
.cus-table thead th:last-child {
    border-right-color: transparent;
}
.cus-table thead tr:first-child th, .staff-table thead tr:first-child th {
    background: linear-gradient(to bottom,#EEEEEE,#F7F7F7);
}
.cus-table tbody th, .cus-table tbody td, .staff-table td, .staff-table th {
    border: 1px solid #dddddd;
}
.cus-table tbody td {
    color: #454545;
    padding: 3px;
    height: 42px;
    font-weight: bold;
}
.staff-table th {
    padding: 8px;
}
.staff-table td {
    font-size: 12px;
    color: #666;
    padding: 3px;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.staff-table td .action-buttons {
    font-size: 15px;
}
.cus-table tbody td .tip {
    color: #999;
    font-size: 12px;
    font-weight: normal;
}
.cus-table-box {
    border: 1px solid #b9b9b9;
}
.cus-table tr.tr-separate, .cus-select tr.tr-separate {
    height: 10px;
}

.staff-table .empty-notice {
    display: none;
}
.staff-table .empty-notice:only-child {
    display: table-row;
}

.condition-bar {
    margin-bottom: 30px;
}
.content-tab .condition-bar {
    margin-top: -10px;
}
.condition-bar:after {
    content: "";
    display: table;
    clear: both;
}
.condition-bar .condition {
    float: left;
}
.condition-bar .others {
    float: right;
}
.condition-bar .others .btn, .condition-bar .btn[type="submit"] {
    padding: 2px 13px;
}
.condition-bar .others .btn + .btn {
    margin-left: 5px;
}
.condition-bar .condition .form-group + .form-group {
    margin-left: 25px;
}
.condition-bar .condition .form-group > input, .condition-bar > select {
    width: 150px;
}
.condition-bar .condition .btn[type="submit"] {
    margin-left: 5px;
}
.condition-bar .input-group-box, td .input-group-box, label + .input-group-box {
    display: inline-block;
    vertical-align: middle;
}
.condition-bar .input-group-box .input-group {
    width: 120px;
}

/* 座位表 */
.seating-table {
    max-width: 830px;
    margin: 0 auto;
    padding-top: 20px;
}
.seating-table table {
    width: 100%;
    text-align: center;
}
.seating-table table td {
    font-size: 0;
    padding-bottom: 10px;
}
.seating-table table td .cell {
    display: inline-block;
    font-size: 14px;
    border: 1px solid #484848;
    border-radius: 2px;
}
.seating-table table td .cell span {
    display: table-cell;
    vertical-align: middle;
    width: 88px;
    height: 60px;
    padding: 5px;
}

/* 梯形讲台 */
.seating-table .platform {
    margin-top: 60px;
    position: relative;
}
.seating-table .platform .t {
    margin: 0 auto;
    width: 556px;
    height: 55px;
    border-top: 2px solid #484848;
    border-bottom: 2px solid #484848;
    font-size: 18px;
    color: #3e3e3e;
    line-height: 55px;
    text-align: center;
    position: relative;
}
.seating-table .platform .t:before, .seating-table .platform .t:after {
    content: "";
    display: block;
    height: 55px;
    width: 55px;
    border-bottom: 2px solid #484848;
    position: absolute;
    top: -2px;
}
.seating-table .platform .t:before {
    border-left: 3px solid #484848;
    transform: skew(-45deg);
    left: -27px;
}
.seating-table .platform .t:after {
    border-right: 3px solid #484848;
    transform: skew(45deg);
    right: -27px;
}
/* .seating-table .platform .door {
    color: #484747;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    padding-right: 9px;
    border-right: 2px solid #484848;
    position: absolute;
    right: 12px;
    top: 0px;
} */

.seating-msg {
    margin-left: 40px;
    margin-top: 70px;
    max-width: 150px;
}
.seating-msg p:first-child {
    text-indent: -2em;
    margin-bottom: 5px;
}
.seating-msg p:first-child ~ p {
    text-indent: -8px;
    margin-bottom: 5px;
}

.content-tab-title, .content-title {
    font-size: 16px;
    color: #222;
    border-left: 2px solid #34A8EA;
    line-height: 20px;
    padding-left: 10px;
    position: relative;
}
.content-tab-title {
    margin-bottom: 20px;
}
.content-title .title-right {
    position: absolute;
    right: 0;
    top: 0;
}

.committee > .row > .col-sm-6:first-child {
    padding-right: 20px;
}
.committee > .row > .col-sm-6:last-child {
    padding-left: 20px;
}

.committee .staff-table {
    margin-bottom: 20px;
}
.staff-table .action-buttons a + a {
    margin-left: 15px;
}

.content-table-box .table-top {
    margin-bottom: 10px;
}
.condition-bar + .content-table-box .table-top {
    margin-top: -30px;
}
.content-table-box .pageBox {
    margin-top: 35px;
}

.pageBox a, .pageBox > span {
    padding: 6px 12px;
    border: 1px solid #e0e8eb;
    margin-right: -1px;
    color: #2283c5;
}
.pageBox .cur {
    background-color: #6faed9;
    border-color: #6faed9;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.pageBox a:hover {
    background-color: #eaeff2;
}

.staff-table td > input, .staff-table td > select, .staff-table td > textarea, .staff-table td > .input-group-boxs {
    width: 90%;
}
.staff-table td .chosen-container {
    width: 90% !important;
}
.staff-table td.range > input {
    width: 40%;
}
.staff-table td > textarea {
    resize: none;
}

.content-inline-block {
    display: inline-block;
}

.head-title {
    color: #454545;
    font-size: 18px;
    border-bottom: 1px solid #C5D0DC;
    padding-bottom: 4px;
}

.center-form {
    display: block;
    margin: 0 auto;
}

.content-edit .center-form {
    width: 512px;
}
.content-edit {
    padding-top: 59px;
}
.content-edit .center-form .form-group {
    margin-bottom: 20px;
    position: relative;
}
.content-edit .center-form .form-group:last-of-type {
    margin-bottom: 29px;
}
.content-edit .center-form .form-group > label {
    width: 150px;
    text-align: right;
    margin-right: 5px;
}
.content-edit .center-form .form-group .width-lg {
    width: 350px;
}
.content-edit .center-form .form-group .width-sm {
    width: 150px;
}
.content-edit .center-form .form-group .input-nums {
    position: absolute;
    left: 100%;
    bottom: 0;
    margin-left: 5px;
    color: #999;
}
.content-edit .center-form textarea {
    resize: none;
}
.content-edit .center-form label + .ace-file-input {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    margin-bottom: 5px;
}
.content-edit .center-form .ace-file-input + .file-tips {
    padding-left: 158px;
    font-size: 12px;
    color: #666;
}
.content-edit .center-form + .form-actions {
    background-color: #f9f9f9;
}

.content {
    padding-top: 20px;
    border-top: 1px solid #C5D0DC;
}

.staff-table td.action a {
    font-size: 12px;
    text-decoration: none;
}
.staff-table td.action a + a {
    margin-left: 25px;
}

.assm-detail-title {
    margin-bottom: 20px;
    margin-top: 30px;
}
.assm-detail-title .name-msg span {
    margin-right: 10px;
}
.assm-detail-title .name-msg span:first-of-type {
    color: #222222;
    font-size: 16px;
    margin-right: 6px;
}
.assm-detail-title .name-msg span:nth-of-type(2) ~ span {
    font-size: 12px;
    color: #999;
}
.assm-detail-title .result {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.assm-detail-title .result span:first-child {
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
}
.assm-detail-title .result span:first-child:after {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    border-left: 1px solid #666;
    right: 0px;
    top: 50%;
    margin-top: -10px;
}

.assm-content .content-title {
    margin-bottom: 14px;    
}
.assm-content .content-title .title-right {
    font-size: 14px;
    color: #454545;
}

#m-msg-detail .table-captain {
    margin-bottom: 5px;
    margin-top: -5px;
}
#m-msg-detail .table-captain span {
    margin-right: 15px;
}

.head-title + .content-table-box {
    margin-top: 10px;
}

.border-left-blue {
    position: relative;
    padding-left: 10px;
}
.border-left-blue:before {
    position: absolute;
    content: "";
    display: block;
    border-left: 2px solid #34A8EA;
    height: 20px;
    left: 0;
    top: 50%;
    margin-top: -10px;
}

.standar-detail-title  .form-group {
    margin-bottom: 0;
    margin-top: 8px;
}
.standar-detail-title  .form-group input {
    width: 350px;
}
.standar-detail .standar-detail-title {
    margin-bottom: 50px;
}

.plupload-box {
    border: 1px dashed #aaa;
    border-radius: 4px;
    padding: 10px 15px 18px;
    text-align: center;
}
.plupload-box.ace-file-input {
    line-height: 1;
}
.plupload-box .file-label {
    border: none;
    margin: -10px -15px -18px -15px;
}
.plupload-box .file-label.hide {
    display: none;
}
.plupload-box .plupload {
    width: 150px;
    height: 22px;
    font-size: 12px;
    color: #666;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    outline: none;
}
.plupload-box .file-label ~ .plupload {
    display: none;
}
.plupload-box .file-label.hide ~ .plupload {
    display: inline-block;
}

/******* 上传的文件 *******/
.plupload-box .preview {
    margin-right: -10px;
}
.plupload-box .preview .file-item {
    width: 72px;
    float: left;
    margin-right: 10px;
}
.plupload-box .preview .file-item .img-box {
    height: 72px;
    position: relative;
    border: 1px solid #D7D7D7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.plupload-box .preview .file-item .img-box .remove-file {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.65);
    color: #fff;
    padding: 1px 2px;
    display: none;
    z-index: 99;
}
.plupload-box .preview .file-item .img-box:hover .remove-file {
    display: inline-block;
}
.plupload-box .preview .file-item .img-box .cover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 12px;
    background-color: rgba(244, 244, 244);
}
.plupload-box .preview .file-item[data-state="loading"] .img-box .cover, 
.plupload-box .preview .file-item[data-state="err"] .img-box .cover {
    display: block;
}
.plupload-box .preview .file-item[data-state="loading"] .img-box .cover:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.plupload-box .preview .file-item .img-box .progressBar, .plupload-box .preview .file-item .img-box .errBar {
    display: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
    border: 1px solid #999;
    color: #999;
}
.plupload-box .preview .file-item[data-state="loading"] .img-box .progressBar{
    width: 34px;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    display: inline-block;
}
.plupload-box .preview .file-item[data-state="err"] .img-box .errBar {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bolder;
}
.plupload-box .preview .file-item .img-box .errBar:after {
    content: "上传失败";
    position: absolute;
    display: inline-block;
    bottom: -28px;
    width: 4em;
    left: 50%;
    margin-left: -2em;
    font-size: 12px;
    font-weight: normal;
}
.plupload-box .preview .file-item > p {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2;
}

.standard-content {
    margin-right: -50px;
}
.standard-content .content-inline-block {
    margin-right: 50px;
    margin-bottom: 30px;
}

.head-form + .hr-double {
    margin-top: -10px;
    margin-bottom: 25px;
}