<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>金视野系统模板</title>
    <meta name="keywords" content="金视野,教育,平台" />
    <meta name="description" content="金视野开发部,模板,2017" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
	<![endif]-->

    <!-- page specific plugin styles -->
    <!-- <link rel="stylesheet" href="assets/css/chosen.css" /> -->
    <!-- <link rel="stylesheet" href="static/vendor/datepicker/bootstrap-datepicker.min.css"> -->

    <!-- fonts -->

    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" /> -->

    <!-- ace styles -->

    <link rel="stylesheet" href="assets/css/ace.min.css" />
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="assets/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
	<![endif]-->

    <!-- inline styles related to this page -->
    <link rel="stylesheet" href="static/css/styles-class.css">

    <!-- ace settings handler -->

    <script src="assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>


    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <div class="main-container-inner">


            <div class="main-content" style="margin-left: 0px;">

                <!-- 面包屑导航 -->
                <div class="breadcrumbs " id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                    </script>
                    <!--位置-->
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home home-icon"></i>
                            <a href="jsywebindex.html">首页</a>
                        </li>
                        <li>
                            <a href="class-index.html">班级管理</a>
                        </li>
                        <li class="active">基本信息</li>
                    </ul>
                    <ul class="breadcrumb pull-right navright">
                        <li>
                            <i class="icon-share-alt icon-color"></i>
                            <a href="javascript:history.go(-1);">返回</a>
                        </li>
                    </ul>
                </div>

                <div class="page-content" style="padding-top: 20px;">

                    <!-- /.page-header -->
                    <div class="row">
                        <div class="col-xs-12">

                            <!-- PAGE CONTENT BEGINS -->

                            <div class="head-form form-inline">

                                <div class="form-group">
                                    <label>所教班级：</label>
                                    <span class="class-name">102</span>
                                </div>

                                <div class="form-group">
                                    <label>年份：</label>
                                    <select>
                                        <option value="">2015</option>
                                        <option value="">2016</option>
                                        <option value="" selected>2017</option>
                                        <option value="">2018</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>学期：</label>
                                    <select>
                                        <option value="">春季</option>
                                        <option value="">秋季</option>
                                    </select>
                                </div>

                            </div>

                            <div class="hr hr-double hr-dotted hr18"></div>
                            <!-- <div class="banner-tabs">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a href="class-index.html">课程表</a>
                                    </li>
                                    <li>
                                        <a href="class-index-seating.html">座位表</a>
                                    </li>
                                    <li>
                                        <a href="class-index-committee.html">班委表</a>
                                    </li>
                                    <li class="active">
                                        <a href="class-index-finance.html">班级财务</a>
                                    </li>
                                    <li>
                                        <a href="class-index-standard.html">量化指标设置</a>
                                    </li>
                                </ul>
                            </div> -->

                            <div class="content-tab">

                                <div class="condition-bar">
                                    <div class="condition form-inline">
                                        <div class="form-group">
                                            <label>关键字：</label>
                                            <input type="text" name="">
                                        </div>
                                        <div class="form-group input-daterange">
                                            <label>日期：</label>
                                            <div class="input-group-box">
                                                <div class="input-group">
                                                    <input class="form-control date-picker" type="text" value="">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            &nbsp;至&nbsp;
                                            <div class="input-group-box">
                                                <div class="input-group">
                                                    <input class="form-control date-picker" type="text" value="">
                                                    <span class="input-group-addon">
                                                        <i class="icon-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                    </div>
                                </div>

                                <div class="content-table-box" id="tableFinance">
                                    <div class="text-right table-top">
                                        <button id="addCadres" class="btn btn-primary btn-xs">
                                            <i class="icon-plus"></i> 添加
                                        </button>
                                    </div>

                                    <table class="staff-table table-hover table-edit">
                                        <colgroup>
                                            <col style="width:6%;">
                                            <col style="width:17%;">
                                            <col style="width:8%;">
                                            <col style="width:14%;">
                                            <col style="width:19%;">
                                            <col style="width:12%;">
                                            <col style="width:12%;">
                                            <col style="width:12%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>物品名称</th>
                                                <th>数量</th>
                                                <th>损坏人</th>
                                                <th>损坏记录</th>
                                                <th>损坏日期</th>
                                                <th>记录人</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="empty-notice"><td colspan="8">没有记录</td></tr>
                                            <tr>
                                                <td>1</td>
                                                <td>桌子</td>
                                                <td>1</td>
                                                <td>张一山</td>
                                                <td>这里是描述</td>
                                                <td>2018-01-05</td>
                                                <td>黄某某</td>
                                                <td>
                                                    <span class="action-buttons">
                                                        <a href="#" class="edit">
                                                            <i class="icon-pencil green"></i>
                                                        </a>
                                                        <a href="static/data/ajax-btn.json" class="delete">
                                                            <i class="icon-trash red"></i>
                                                        </a>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>


                            <!-- PAGE CONTENT ENDS -->

                        </div>

                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.page-content -->
            </div>
            <!-- /.main-content -->

            <!-- /#ace-settings-container -->
        </div>
        <!-- /.main-container-inner -->
    </div>
    <!-- /.main-container -->

    <!-- 表格行模板 -->
    <script type="text/html" id="editTemplate">
        <tr>
            <td>{{= num}}</td>
            <td>
                <input type="text" name="goodsName" value="{{= goodsName}}" placeholder="请输入" maxlength="30" 
                verify-require="请输入物品名称">
            </td>
            <td>
                <input type="text" name="number" value="{{= number}}" placeholder="请输入" verify-number="请输入输入正确数量">
            </td>
            <td>
                <select name="students" class="chosen-selecter" multiple data-placeholder="请选择" 
                verify-require="请选择物品损坏人">
                    {{each students}}
                    <option value="${$value.val}" {{if $value.isSelected}} selected {{/if}}>${$value.name}</option>
                    {{/each}}
                </select>
            </td>
            <td>
                <textarea name="record" rows="1" placeholder="请输入" maxlength="200">{{= record}}</textarea>
            </td>
            <td>
                <div class="input-group-box">
                    <div class="input-group">
                        <input class="form-control date-picker" type="text" name="date" value="{{= date}}">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </td>
            <td>{{= recorder}}<input type="hidden" name="recorder" value="{{= recorder}}"></td>
            <td>
                <span class="action-buttons">
                    <a href="http://192.168.0.110:8001/savetabe" class="save">
                        <i class="icon-ok green"></i>
                    </a>
                    <a href="#" {{if isEdit}} class="return" {{else}} class="cancel" {{/if}}>
                        <i class="icon-remove red"></i>
                    </a>
                </span>
            </td>
        </tr>
    </script>

    <!-- basic scripts -->

    <!--[if !IE]> -->

    <!---->

    <!-- <![endif]-->

    <!--[if IE]>

<![endif]-->

    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/typeahead-bs2.min.js"></script>

    <!-- page specific plugin scripts -->
    <!-- <script src="static/vendor/datepicker/bootstrap-datepicker.min.js"></script> -->
    <!-- <script src="assets/js/chosen.jquery.min.js"></script> -->

    <!-- ace scripts -->

    <script src="assets/js/ace-elements.min.js"></script>
    <script src="assets/js/ace.min.js"></script>


    <!-- inline scripts related to this page -->
    <!-- <div style="display: none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div> -->

    <script src="static/js/common-class.js"></script>

    <script>
        var init_data = {
            num: "",
            goodsName: "",
            number: "",
            students: [
                { "val": "v1", "name": "张一山" },
                { "val": "v2", "name": "周某" },
                { "val": "v3", "name": "王某" },
                { "val": "v4", "name": "张三" },
                { "val": "v5", "name": "李四" },
                { "val": "v6", "name": "王五" },
                { "val": "v7", "name": "王6" },
                { "val": "v8", "name": "王7" },
                { "val": "v9", "name": "王8" }
            ],
            record: "",
            date: "",
            recorder: "黄某某",
            isEdit: false
        }

        // 添加 表格行
        $("#tableFinance").editTable({
            addBtn: "#addCadres", //添加按钮
            temp: "#editTemplate", //编辑 模板
            initData: init_data, //初始数据，添加时的模板数据
            isOrder: true
        })
        .on("addRow", function(e, curRow){
            setChosen(curRow.find(".chosen-selecter")); //使用chosen
            setDatePicker(curRow.find(".date-picker")); //使用日历
        })
        .on("editRow", function(e, thisTr, texts, editeCallback){ // thisTr当前行，texts当前行文本数组，editeCallback回调 进入编辑状态
            // 编辑状态的数据
            var data = {};
            data["num"] = texts[0];
            data["goodsName"] = texts[1]; 
            data["number"] = texts[2];
            data["students"] = [];
            data["record"] = texts[4];
            data["date"] = texts[5];
            data["recorder"] = texts[6];
            data["isEdit"] = true;
            // 为选择框赋值
            init_data.students.forEach(function(v){
                data.students.push({
                    "val": v.val,
                    "name": v.name,
                    "isSelected": v.name==texts[3]
                });
            });
            
            var temp = $('#editTemplate').tmpl(data);
            setChosen(temp.find(".chosen-selecter")); //使用chosen
            setDatePicker(temp.find(".date-picker")); //使用日历
            
            editeCallback(thisTr, temp); //thisTr:当前行; temp:编辑的模板HTML元素或jq对象
        });;

    </script>

</body>

</html>