<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>金视野系统模板</title>
    <meta name="keywords" content="金视野,教育,平台" />
    <meta name="description" content="金视野开发部,模板,2017" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
	<![endif]-->

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="assets/css/chosen.css" />

    <!-- fonts -->

    <!-- ace styles -->

    <link rel="stylesheet" href="assets/css/ace.min.css" />
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="assets/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
	<![endif]-->

    <!-- inline styles related to this page -->
    <link rel="stylesheet" href="static/css/styles-class.css">

    <!-- ace settings handler -->

    <script src="assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>


    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <div class="main-container-inner">


            <div class="main-content" style="margin-left: 0px;">

                <!-- 面包屑导航 -->
                <div class="breadcrumbs " id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                    </script>
                    <!--位置-->
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home home-icon"></i>
                            <a href="jsywebindex.html">首页</a>
                        </li>
                        <li>
                            <a href="class-index.html">班级管理</a>
                        </li>
                        <li class="active">基本信息</li>
                    </ul>
                    <ul class="breadcrumb pull-right navright">
                        <li>
                            <i class="icon-share-alt icon-color"></i>
                            <a href="javascript:history.go(-1);">返回</a>
                        </li>
                    </ul>
                </div>

                <div class="page-content" style="padding-top: 20px;">

                    <!-- /.page-header -->
                    <div class="row">
                        <div class="col-xs-12">

                            <!-- PAGE CONTENT BEGINS -->

                            <div class="head-form form-inline">

                                <div class="form-group">
                                    <label>所教班级：</label>
                                    <span class="class-name">102</span>
                                </div>

                                <div class="form-group">
                                    <label>年份：</label>
                                    <select name="">
                                        <option value="">2015</option>
                                        <option value="">2016</option>
                                        <option value="" selected>2017</option>
                                        <option value="">2018</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>学期：</label>
                                    <select>
                                        <option value="">春季</option>
                                        <option value="">秋季</option>
                                    </select>
                                </div>

                            </div>

                            <div class="banner-tabs">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a href="class-index.html">课程表</a>
                                    </li>
                                    <li>
                                        <a href="class-index-seating.html">座位表</a>
                                    </li>
                                    <li class="active">
                                        <a href="class-index-committee.html">班委表</a>
                                    </li>
                                    <li>
                                        <a href="class-index-finance.html">班级财务</a>
                                    </li>
                                    <li>
                                        <a href="class-index-standard.html">量化指标设置</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="content-tab committee">
                                
                                <div class="content-tab-title">七年级102班班干部、课代表一览表</div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <table class="staff-table table-hover table-edit" id="tableCadres">
                                            <colgroup>
                                                <col style="width: 25%;">
                                                <col style="width: 50%;">
                                                <col style="width: 25%;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>班干部</th>
                                                    <th>姓名</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>班长</td>
                                                    <td>张一山</td>
                                                    <td>
                                                        <span class="action-buttons">
                                                            <a href="#" class="edit">
                                                                <i class="icon-pencil green"></i>
                                                            </a>
                                                            <a href="static/data/ajax-btn.json" class="delete">
                                                                <i class="icon-trash red"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>副班长</td>
                                                    <td>张一山</td>
                                                    <td>
                                                        <span class="action-buttons">
                                                            <a href="javascript:;" class="edit">
                                                                <i class="icon-pencil green"></i>
                                                            </a>
                                                            <a href="static/data/ajax-btn.json" class="delete">
                                                                <i class="icon-trash red"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-primary btn-xs" id="addCadres">
                                            <i class="icon-plus"> 添加</i>
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <table class="staff-table table-hover" id="tableRepresentative">
                                            <colgroup>
                                                <col style="width: 25%;">
                                                <col style="width: 50%;">
                                                <col style="width: 25%;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>课代表</th>
                                                    <th>姓名</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>数学</td>
                                                    <td>张一山</td>
                                                    <td>
                                                        <span class="action-buttons">
                                                            <a href="javascript:;" class="edit">
                                                                <i class="icon-pencil green"></i>
                                                            </a>
                                                            <a href="static/data/ajax-btn.json" class="delete">
                                                                <i class="icon-trash red"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>语文</td>
                                                    <td>张一山</td>
                                                    <td>
                                                        <span class="action-buttons">
                                                            <a href="javascript:;" class="edit">
                                                                <i class="icon-pencil green"></i>
                                                            </a>
                                                            <a href="static/data/ajax-btn.json" class="delete">
                                                                <i class="icon-trash red"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-primary btn-xs" id="addRepresentative">
                                            <i class="icon-plus"> 添加</i>
                                        </button>
                                    </div>
                                </div>

                            </div>


                            <!-- PAGE CONTENT ENDS -->

                        </div>

                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.page-content -->
            </div>
            <!-- /.main-content -->

            <!-- /#ace-settings-container -->
        </div>
        <!-- /.main-container-inner -->
    </div>
    <!-- /.main-container -->


    <!-- 班干部 模板 -->
    <script type="text/html" id="cadresTemplate">
        <tr>
            <td>
                <input type="text" name="cadreName" value="{{= cadreName}}" />
            </td>
            <td>
                <!-- <input type="text" name="studentName" value="{{= studentName}}" /> -->
                <select name="" class="chosen-select" multiple data-placeholder="请选择">
                    <option value=""></option>
                    {{each students}}
                    <option value="${$value.val}">${$value.name}</option>
                    {{/each}}
                </select>
            </td>
            <td>
                <span class="action-buttons">
                    <a href="http://192.168.0.110:8001/savetabe" class="save">
                        <i class="icon-ok green"></i>
                    </a>
                    <a href="#" {{if isEdit}} class="return" {{else}} class="cancel" {{/if}}>
                        <i class="icon-remove red"></i>
                    </a>
                </span>
            </td>
        </tr>
    </script>

    <!-- 课代表 模板 -->
    <script type="text/html" id="repTemplate">
        <tr>
            <td>
                <input type="text" name="subjectName" value="{{= subjectName}}" />
            </td>
            <td>
                <select name="" class="chosen-select" multiple data-placeholder="请选择">
                    <option value=""></option>
                    {{each students}}
                    <option value="${$value.val}">${$value.name}</option>
                    {{/each}}
                </select>
            </td>
            <td>
                <span class="action-buttons">
                    <a href="http://192.168.0.110:8001/savetabe" class="save">
                        <i class="icon-ok green"></i>
                    </a>
                    <a href="#" {{if isEdit}} class="return" {{else}} class="cancel" {{/if}}>
                        <i class="icon-remove red"></i>
                    </a>
                </span>
            </td>
        </tr>
    </script>

    <!-- 成功保存 模板 -->
    <script type="text/html" id="saveTemplate">
        <tr>
            <td>{{= text1}}</td>
            <td>{{= text2}}</td>
            <td>
                <span class="action-buttons">
                    <a href="javascript:;" class="edit">
                        <i class="icon-pencil green"></i>
                    </a>
                    <a href="{{= deleteUrl}}" class="delete">
                        <i class="icon-trash red"></i>
                    </a>
                </span>
            </td>
        </tr>
    </script>

    <!-- basic scripts -->

    <!--[if !IE]> -->

    <!---->

    <!-- <![endif]-->

    <!--[if IE]>

<![endif]-->

    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/typeahead-bs2.min.js"></script>

    <!-- page specific plugin scripts -->
    <script src="assets/js/chosen.jquery.min.js"></script>

    <!-- ace scripts -->

    <script src="assets/js/ace-elements.min.js"></script>
    <script src="assets/js/ace.min.js"></script>

    <script src="static/js/common-class.js"></script>

    <script>

        var init_data = {
            "cadreName": "",
            "students": [
                { "val": "v1", "name": "张一山" },
                { "val": "v2", "name": "周某" },
                { "val": "v3", "name": "王某" },
                { "val": "v4", "name": "张三" },
                { "val": "v5", "name": "李四" },
                { "val": "v6", "name": "王五" },
            ],
            "isEdit": false
        };

        // 添加班干部
        $("#tableCadres").editTable({
            addBtn: "#addCadres", //添加按钮
            temp: "#cadresTemplate", //编辑模板
            saveTemp: "#saveTemplate", //保存模板
            initData: init_data //初始数据
        })
        .on("addRow", function(e, curRow){
            curRow.find(".chosen-select").chosen().parent().css('overflow', 'visible');
        })
        .on("editRow", function(e, thisTr, texts, editeCallback){ // thisTr当前行，texts当前行文本数组，editeCallback回调 进入编辑状态
            // 编辑状态的数据
            var data = init_data;
            data["cadreName"] = texts[0]; 
            data["isEdit"] = true;
            var temp = $('#cadresTemplate').tmpl(data);
            // 为选择框赋值
            temp.find("select option").each(function(){
                if($(this).text()==texts[1]) $(this).attr("selected", true);
            }); 
            temp.find(".chosen-select").chosen().parent().css('overflow', 'visible');
            //thisTr:当前行; temp:编辑的模板HTML元素或jq对象
            editeCallback(thisTr, temp); 
        });


        var init_data2 = {
                "subjectName": "",
                "students": [
                    { "val": "v1", "name": "张一山" },
                    { "val": "v2", "name": "周某" },
                    { "val": "v3", "name": "王某" },
                    { "val": "v4", "name": "张三" },
                    { "val": "v5", "name": "李四" },
                    { "val": "v6", "name": "王五" },
                ],
                "isEdit": false
            };

        // 添加课代表
        $("#tableRepresentative").editTable({
                addBtn: "#addRepresentative", //添加按钮
                temp: "#repTemplate", //编辑模板
                saveTemp: "#saveTemplate", //保存模板
                initData: init_data2
        })
        .on("addRow", function (e, curRow) {
            curRow.find(".chosen-select").chosen().parent().css('overflow', 'visible');
        })
        .on("editRow", function (e, thisTr, texts, editeCallback) { // thisTr当前行，texts当前行文本数组，editeCallback回调 进入编辑状态
            // 编辑状态的数据
            var data = init_data2;
            data["subjectName"] = texts[0];
            data["isEdit"] = true;
            var temp = $('#repTemplate').tmpl(data);
            // 为选择框赋值
            temp.find("select option").each(function () {
                if ($(this).text() == texts[1]) $(this).attr("selected", true);
            });
            temp.find(".chosen-select").chosen().parent().css('overflow', 'visible');
            //thisTr:当前行; temp:编辑的模板HTML元素或jq对象
            editeCallback(thisTr, temp);
        });

    </script>

</body>

</html>